/** Custom Stylesheet 
Cameron MacArthur
**/

 /*Loader CSS */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #ffffff;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
 
    -webkit-transition: all 0.3s 0.6s ease-out; 
            transition: all 0.3s 0.6s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

#loader-wrapper {
  background: #ffffff;
  font: 14px/1 'Open Sans', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.box {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 100%;
  overflow: hidden;
}
.box .percent {
  display: none;
}
.box .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  background: #4D6DE3;
}
.box .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.box .water_wave_back {
  right: 0;
  fill: #C7EEFF;
  -webkit-animation: wave-back 1.4s infinite linear;
          animation: wave-back 1.4s infinite linear;
}
.box .water_wave_front {
  left: 0;
  fill: #4D6DE3;
  margin-bottom: -1px;
  -webkit-animation: wave-front .7s infinite linear;
          animation: wave-front .7s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

#loadButton {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    z-index: 2000;
    text-decoration: none;
}
#loadButton a:hover{
    text-decoration: none;
}

/*End Loader CSS -------------------------------------------------*/

footer .footer-below {
        background-color: #00003D;
}

.dontwantpadding {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
    
.cover {
    position: relative;
}

.btn-1 {
    color: black;
    background-color: rgb(192,192,192);
}
.btn {
    background-color: white;
    color: black;
    
}

.btn:hover {
    color: gray;
    
}

.close-modal {
    z-index: 10;
}

#object {
    align-self: center;
}
.playtext {
    text-align: left;
    font-family: Times;
}


#portfolio .portfolio-item {
    margin-bottom: 0px;
}

#trione {
    position: relative;
    left: 15%;
}

#trithree {
    position: relative;
    left: -15%;
}
/*Twitter Bird!!*/
    #tw {
      height:150px;
      width: 150px;
    }
    #twitter-bird, .tw-click { 
        cursor:pointer; 
        display:block; 
        position:absolute; 
        width:0%; 
        transition:0.3s ease all;
        z-index:30;
    }
   
    #tw .tw-click { 
        background:#42e7ff; 
        opacity:0; 
        padding:10px 10px 5px; 
        margin-top:55px; 
        margin-left:-40px; 
        padding-left:30px; 
        width:auto; 
        border-top-right-radius:5px; 
        border-bottom-right-radius:5px;
    }
    #tw:hover #twitter-bird {
        margin-left:-100px;
        /*Animate only on hover
        -webkit-animation: none;
	    -moz-animation: none;
	    animation: none*/
        -webkit-animation: fly 0.2s steps(3) 0 3;
	    -moz-animation: fly 0.2s steps(3) 0 3;
	    animation: fly 0.2s steps(3) 0s 3;
    }

    #tw:hover .tw-click { 
        opacity:1; 
        margin-left:-20px; 
}
    
#twitter-bird {
  background-image: url(../media/twitter-bird-sprite.png);
  height: 150px;
    /*margin: 30px -30% 0 0;*/
  width: 150px;
    /*Constant animation removed, only animate on hover
    -webkit-animation: fly 0.2s steps(3) 0 infinite;
	-moz-animation: fly 0.2s steps(3) 0 infinite;
	animation: fly 0.2s steps(3) 0 infinite;
    */
/*    position:absolute;*/
    z-index:31;
}

@-webkit-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}
@-moz-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}
@keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}

#tw {
	cursor: pointer;
	display: inline-block;
    position: absolute;
    /*top: 10%; Added to lock to corner, removed script*/
    /*left: 80%; Added to lock to corner, removed script*/
}
/*Header Soften*/
hr.soften {
  height: 3px;
  width: 30%;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

hr.soften-white {
  height: 3px;
  width: 30%;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  border: 0;
}

header .intro-text .name {
    color: black;
    white-space: nowrap;
    text-align: left;
    font-family: 'Quicksand',"Helvetica Neue";
    font-weight: 400;
    font-size: 5.7em;
}
.intro-text{
    text-align: left;
    padding-left: 5%;
    font-family: 'Quicksand',"Helvetica Neue";
    white-space: nowrap;
}

.skillz {
    color: black;
    font-family: 'Quicksand',"Helvetica Neue";
    text-transform: uppercase;
    font-size: 3.75em;
    text-align: left;

}


h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Quicksand',"Helvetica Neue";
    font-weight: 500;
}


#canvas { position:absolute; top:0; left:0; z-index:-1 }


header { 
     height: 600px;
}

.modalHead {
    color: black;
}
#resume {
    background-color: transparent;
}
#about {
    background-color: transparent;
    color: black;
}

body {
    font-family: 'Open Sans';
    color: black;
}
strong {
    font-weight: bold;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#resumeButton {
    margin-top: 2%;
}

/*Holler Button CSS*/
/* THE ROUND PSEUDO-ELEMENT HOVER STYLES */
.round{
		max-width: 960px;
		margin:0;
}

.round .button {
	  color: crimson;
	  font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Helvetica;
		text-align: center;
		display: inline-block;
		width: 130px;
		height: 40px;
		line-height: 40px;
		margin: 20px;
		position: relative;
		overflow: hidden;
		transition: color .5s;
        cursor: pointer;
}

.round .button:before {
		content: "";
		position: absolute;
		z-index: -1;
		background: crimson;
		height: 150px;
		width: 200px;
		border-radius: 50%;
		top: 100%;
		left: 100%;
		transition: all .7s;
}

.round .button:hover {
		color: #fff;
}

.round .button:hover:before {
		top: -30px;
		left: -30px;
}
/* -------- end button CSS ---- */ 


/*Music Modal (3) Hot click blocks*/
.hotBlock {
    padding: 5px;
    color: white;
    background-color: #414447;
    border-radius: 10px;
}

@media (min-width: 992px) {
#workbox.col-lg-12 {
   padding-left: 20%;
   padding-right: 20%;
}
    
}