/** Custom Stylesheet 
Cameron MacArthur
**/
.navbar {
    background-color: #00003D;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #B0B0B0;
}
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: auto;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    font-family: 'Source Code Pro';
}

footer .footer-below {
        background-color: #00003D;
}
/*
.tri-Up {
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    transition: 2s;*/
    /*clip-path: url(#clipUp);*/
   /* -webkit-clip-path: url(#clipUp);
    -moz-clip-path: url(#clipUp);
    -o-clip-path: url(#clipUp);
}

.tri-Down {
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transition: 2s;
    clip-path: url(#clipDown);
    -webkit-clip-path: url(#clipDown);
    -moz-clip-path: url(#clipDown);
    -o-clip-path: url(#clipDown);
}
a:hover .tri-Up,
a:focus .tri-Up {
  -webkit-clip-path:circle(50%,50%,75%);
  clip-path: circle(50%,50%,75%);
}*/
/*
.portfolio-item {
    background-image: url(../img/portfolio/BLM.png);
    width: 300px;
    height: 300px;
    background-size: cover;
    clip-path: url("#clipUp");
}
*/

.dontwantpadding {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
    
.cover {
    position: relative;
}
header {
    position: relative;
}

header > [class^=section]{
  position: absolute;
  background: none 50% / cover;
  top: 0;
  bottom: 0;
  height: auto;
  /*width: 33.33333%;*/
  width: 100%;
}
header > .section-one {
  background-image: url(../img/Northwestern-University-Downtown-Chicago-Northwestern-Lakefill.png);
  left:0;
}
header > .section-two {
  background-image: url(../img/code.png);
  left: 33.33333%;
}
header > .section-three {
  background-image: url(../img/car.png);
  left: 66.66666%;
}

.btn-1 {
    color: black;
    background-color: rgb(192,192,192);
}

.close-modal {
    z-index: 10;
}

#object {
    align-self: center;
}
.playtext {
    text-align: left;
    font-family: Times;
}


#portfolio .portfolio-item {
    margin-bottom: 0px;
}

#trione {
    position: relative;
    left: 15%;
}

#trithree {
    position: relative;
    left: -15%;
}
/*Twitter Bird!!*/
    #tw {
      height:150px;
      width: 150px;
    }
    #twitter-bird, .tw-click { cursor:pointer; display:block; position:absolute; width:0%; 
        transition:0.3s ease all;
    }
#twitter-bird            {z-index:10; }
   
    #tw .tw-click           { background:#42e7ff; opacity:0; padding:10px 10px 5px; margin-top:55px; margin-left:-40px; padding-left:30px; width:auto; 
        border-top-right-radius:5px; border-bottom-right-radius:5px;
    }
    #tw:hover #twitter-bird {
        margin-left:-100px;
        /*Animate only on hover
        -webkit-animation: none;
	    -moz-animation: none;
	    animation: none*/
        -webkit-animation: fly 0.2s steps(3) 0 3;
	    -moz-animation: fly 0.2s steps(3) 0 3;
	    animation: fly 0.2s steps(3) 0 3;
    }

    #tw:hover .tw-click     { opacity:1; margin-left:-20px; }
    
#twitter-bird {
  background-image: url(../media/twitter-bird-sprite.png);
  height: 150px;
   /* margin: 30px -30% 0 0;*/
	width: 150px;
    /*Constant animation removed, only animate on hover
    -webkit-animation: fly 0.2s steps(3) 0 infinite;
	-moz-animation: fly 0.2s steps(3) 0 infinite;
	animation: fly 0.2s steps(3) 0 infinite;
    */
}

@-webkit-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}
@-moz-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}
@keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -450px 0; }
}

#tw {
	cursor: pointer;
	display: inline-block;
    position: fixed;
    top: 10%; /*Added to lock to corner, removed script*/
    left: 85%; /*Added to lock to corner, removed script*/
}
/*Header Soften*/
hr.soften {
  height: 3px;
  width: 30%;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

hr.soften-white {
  height: 3px;
  width: 30%;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
  border: 0;
}

.name {
    text-shadow: 0 0 0.2em black, 0 0 0.2em black,
        0 0 2.0em black;
    
}
header .intro-text .name {
font-family: 'Source Code Pro',"Helvetica Neue";
    font-weight: 600;
}
.skills {
    text-shadow: 0 0 0.2em black, 0 0 0.2em black,
        0 0 0.2em black;
    font-family: 'Source Code Pro',"Helvetica Neue";
    text-transform: uppercase;

}
header .intro-text .skills {
            font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro',"Helvetica Neue";
    font-weight: 500;
}

#resume {
    background-color: #73A39F;
}
#about {
    background-color: #8FC996;
}

body {
    font-family: 'Open Sans';
    color: black;
}
strong {
    font-weight: bold;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
@media (min-width: 992px) {
#workbox.col-lg-12 {
   padding-left: 20%;
   padding-right: 20%;
}
}